<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KAApoera"
        tools:targetApi="31">
        <activity android:name=".Activity.RotacaoQuinzenalListaLKActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalLK"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalLKAdapter"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalListaFERUActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalListaFERUAdapter"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalFERU"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalListaWDActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalWD"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalListaWDAdapter"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenalCriar"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RotacaoQuinzenal"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTListaMinhasPTsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTMinhasPts"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTMinhasPtsAdapter"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTListaGeralActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTGeralAdapter"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTGeral"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.QueroPTCriarPTActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AnuncioGerenciarAdapter"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.AnuncioGerenciar"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ListaMeusAnunciosActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ListaAnuncioGeralActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.CriarAnuncioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.CompraEVendaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.AtualizarDadosActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.PerfildeUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.EsquecerSenhaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.CharacterDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.BemVindoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.VerificarCharacterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.CadastroActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>>
    </application>

</manifest>
